{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "no-console": "off",
    "import/prefer-default-export": "off",
    "import/no-unresolved": [
      "error",
      {
        "ignore": [
          "aws-sdk"
        ]
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "_source",
          "_parent",
          "_scroll_id",
          "_version"
        ]
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "requireReturn": true,
        "requireReturnType": true,
        "requireParamDescription": true,
        "requireReturnDescription": true
      }
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": false,
          "MethodDefinition": false,
          "ClassDeclaration": false
        }
      }
    ],
    "prefer-destructuring": ["error", {
      "VariableDeclarator": {
        "array": false,
        "object": true
      },
      "AssignmentExpression": {
        "array": false,
        "object": true
      }
    }, {
      "enforceForRenamedProperties": false
    }]
  }
}
